.container {
  box-sizing: content-box;
  width: 80%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(195, 199, 202);
  margin: auto;
}

.inputsection {
  box-shadow: 5px 10px #888;
  width: 80%;
  max-height: 30rem;
  background-color: #fff;
  align-self: center;
  margin: auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid #888;
  padding: 0 0.5rem;
}

.what {
  font-size: 1rem;
  font-weight: 200;
  color: #504949;
}

.material-symbols-outlined {
  cursor: pointer;
}

.inputpart {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 2px solid #888;
  padding: 0 0.5rem;
}

.text {
  width: 100%;
  outline: none;
  border: 0 solid transparent;
  padding: 1rem;
}

.listexamp {
  display: block;
}

.item {
  display: flex;
  align-items: baseline;
  border-bottom: 2px solid #888;
  padding: 0 0.5rem;
  gap: 0.5rem;
  list-style: none;
}

li:last-child {
  display: none;
}

.para {
  color: #504949;
  flex-grow: 1;
}

.item1 {
  background-color: #edf2f8;
  padding: 15px;
  margin-top: -13px;
}

.clear {
  text-align: center;
  cursor: pointer;
}
